{% extends "main/base.html" %}
{% block title %}
  Sign Up
{% endblock title %}
{% block content %}
  <section>
    {% if message %}<p>{{ message }}</p>{% endif %}
    {% if form.errors %}<p>{{ form.errors }}</p>{% endif %}
    <form action="{% url 'users:sign-up' %}" method="post">
      {% csrf_token %}
      <div>{{ form.as_p }}</div>
      <div>
        <button type="submit"  value="Sign-up">Submit</button>
      </div>
    </form>
    <p>
      Already have an account?
      <a href="{% url 'users:sign-in' %}">Sign In here.</a>
    </p>
  </section>
{% endblock content %}
