{% extends "main/base.html" %}
{% block title %}
  Sign In
{% endblock title %}
{% block content %}
  <section>
    {% if message %}<p>{{ message }}</p>{% endif %}
    <form action="{% url 'users:sign-in' %}" method="post">
      {% csrf_token %}
      <p>
        <label for="id_username">Username:</label>
        <input autofocus
               type="text"
               name="username"
               placeholder="Username"
               maxlength="150"
               id="id_username"
               required />
      </p>
      <p>
        <label for="id_password">Password:</label>
        <input type="password"
               name="password"
               placeholder="Password..."
               required
               id="id_password" />
      </p>
      <div>
        <button type="submit"  value="Sign-in">Submit</button>
      </div>
    </form>
    <p>
      Need have an account?
      <a href="{% url 'users:sign-up' %}">Sign Up here.</a>
    </p>
  </section>
{% endblock content %}
