{% extends "main/base.html" %}
{% block title %}
  Advanced Search
{% endblock title %}
{% block content %}
  <section class="flex flex-col justify-center items-center gap-3 m-1 p-0.5">
    <h1 class="font-bold">Advanced Search</h1>
    {% if message %}<p class="bg-success-500 w-1/4 text-center font-extrabold">{{ message }}</p>{% endif %}
    {% if form.errors %}<p class="bg-danger w-1/4 text-center font-extrabold">{{ form.errors }}</p>{% endif %}
    <form action="{% url 'main:adv-search' %}"
          method="post"
          class="flex flex-col justify-center items-end gap-2">
      {% csrf_token %}
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_name">Card Name:</label>
        <input autofocus
               type="text"
               name="name"
               placeholder="Name"
               class="rounded-lg"
               maxlength="150"
               id="id_name" />
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_supertype">Supertype:</label>
        <select name="supertype"
                id="id_supertype"
                multiple="multiple"
                size="3"
                class="rounded-tl-lg rounded-bl-lg">
          <option value="Energy">Energy</option>
          <option value="Pokémon">Pokémon</option>
          <option value="Trainer">Trainer</option>
        </select>
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_subtypes">Subtypes:</label>
        <select name="subtypes"
                id="id_subtypes"
                multiple="multiple"
                size="8"
                class="rounded-tl-lg rounded-bl-lg">
          <option value="BREAK">BREAK</option>
          <option value="Baby">Baby</option>
          <option value="Basic">Basic</option>
          <option value="EX">EX</option>
          <option value="Eternamax">Eternamax</option>
          <option value="Fusion Strike">Fusion Strike</option>
          <option value="GX">GX</option>
          <option value="Goldenrod Game Corner">Goldenrod Game Corner</option>
          <option value="Item">Item</option>
          <option value="LEGEND">LEGEND</option>
          <option value="Level-Up">Level-Up</option>
          <option value="MEGA">MEGA</option>
          <option value="Pokémon Tool">Pokémon Tool</option>
          <option value="Pokémon Tool F">Pokémon Tool F</option>
          <option value="Prime">Prime</option>
          <option value="Prism Star">Prism Star</option>
          <option value="Radiant">Radiant</option>
          <option value="Rapid Strike">Rapid Strike</option>
          <option value="Restored">Restored</option>
          <option value="Rocket's Secret Machine">Rocket's Secret Machine</option>
          <option value="SP">SP</option>
          <option value="Single Strike">Single Strike</option>
          <option value="Special">Special</option>
          <option value="Stadium">Stadium</option>
          <option value="Stage 1">Stage 1</option>
          <option value="Stage 2">Stage 2</option>
          <option value="Star">Star</option>
          <option value="Supporter">Supporter</option>
          <option value="TAG TEAM">TAG TEAM</option>
          <option value="Team Plasma">Team Plasma</option>
          <option value="Technical Machine">Technical Machine</option>
          <option value="Tera">Tera</option>
          <option value="Tera ex">Tera ex</option>
          <option value="Ultra Beast">Ultra Beast</option>
          <option value="V">V</option>
          <option value="V-UNION">V-UNION</option>
          <option value="VMAX">VMAX</option>
          <option value="VSTAR">VSTAR</option>
          <option value="ex">ex</option>
          <option value="ex-3">ex-3</option>
        </select>
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_types">Types:</label>
        <select name="types"
                id="id_types"
                multiple="multiple"
                size="5"
                class="rounded-tl-lg rounded-bl-lg">
          <option value='Colorless'>Colorless</option>
          <option value='Darkness'>Darkness</option>
          <option value='Dragon'>Dragon</option>
          <option value='Fairy'>Fairy</option>
          <option value='Fighting'>Fighting</option>
          <option value='Fire'>Fire</option>
          <option value='Grass'>Grass</option>
          <option value='Lightning'>Lightning</option>
          <option value='Metal'>Metal</option>
          <option value='Psychic'>Psychic</option>
          <option value='Water'>Water</option>
        </select>
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_hp">HP:</label>
        <input type="text"
               name="hp"
               placeholder="HP"
               class="rounded-lg"
               maxlength="4"
               id="id_hp" />
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_weaknesses">Weaknesses:</label>
        <select name="weaknesses"
                id="id_weaknesses"
                multiple="multiple"
                size="5"
                class="rounded-tl-lg rounded-bl-lg">
          <option value='Colorless'>Colorless</option>
          <option value='Darkness'>Darkness</option>
          <option value='Dragon'>Dragon</option>
          <option value='Fairy'>Fairy</option>
          <option value='Fighting'>Fighting</option>
          <option value='Fire'>Fire</option>
          <option value='Grass'>Grass</option>
          <option value='Lightning'>Lightning</option>
          <option value='Metal'>Metal</option>
          <option value='Psychic'>Psychic</option>
          <option value='Water'>Water</option>
        </select>
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_resistances">Resistances:</label>
        <select name="resistances"
                id="id_resistances"
                multiple="multiple"
                size="5"
                class="rounded-tl-lg rounded-bl-lg">
          <option value='Colorless'>Colorless</option>
          <option value='Darkness'>Darkness</option>
          <option value='Dragon'>Dragon</option>
          <option value='Fairy'>Fairy</option>
          <option value='Fighting'>Fighting</option>
          <option value='Fire'>Fire</option>
          <option value='Grass'>Grass</option>
          <option value='Lightning'>Lightning</option>
          <option value='Metal'>Metal</option>
          <option value='Psychic'>Psychic</option>
          <option value='Water'>Water</option>
        </select>
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_retreat">Retreat Cost:</label>
        <input type="text"
               name="retreat_cost"
               placeholder="Retreat Cost"
               class="rounded-lg"
               maxlength="1"
               id="id_retreat_cost" />
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_set">Set:</label>
        <select name="set"
                id="id_set"
                multiple='multiple'
                size='8'
                class="rounded-tl-lg rounded-bl-lg">
          <option value="Ancient Origins">Ancient Origins</option>
          <option value="Aquapolis">Aquapolis</option>
          <option value="Arceus">Arceus</option>
          <option value="Astral Radiance">Astral Radiance</option>
          <option value="Astral Radiance Trainer Gallery">Astral Radiance Trainer Gallery</option>
          <option value="BREAKpoint">BREAKpoint</option>
          <option value="BREAKthrough">BREAKthrough</option>
          <option value="BW Black Star Promos">BW Black Star Promos</option>
          <option value="Base">Base</option>
          <option value="Base Set 2">Base Set 2</option>
          <option value="Battle Styles">Battle Styles</option>
          <option value="Best of Game">Best of Game</option>
          <option value="Black &amp; White">Black &amp; White</option>
          <option value="Boundaries Crossed">Boundaries Crossed</option>
          <option value="Brilliant Stars">Brilliant Stars</option>
          <option value="Brilliant Stars Trainer Gallery">Brilliant Stars Trainer Gallery</option>
          <option value="Burning Shadows">Burning Shadows</option>
          <option value="Call of Legends">Call of Legends</option>
          <option value="Celebrations">Celebrations</option>
          <option value="Celebrations: Classic Collection">Celebrations: Classic Collection</option>
          <option value="Celestial Storm">Celestial Storm</option>
          <option value="Champion's Path">Champion's Path</option>
          <option value="Chilling Reign">Chilling Reign</option>
          <option value="Cosmic Eclipse">Cosmic Eclipse</option>
          <option value="Crimson Invasion">Crimson Invasion</option>
          <option value="Crown Zenith">Crown Zenith</option>
          <option value="Crown Zenith Galarian Gallery">Crown Zenith Galarian Gallery</option>
          <option value="Crystal Guardians">Crystal Guardians</option>
          <option value="DP Black Star Promos">DP Black Star Promos</option>
          <option value="Dark Explorers">Dark Explorers</option>
          <option value="Darkness Ablaze">Darkness Ablaze</option>
          <option value="Delta Species">Delta Species</option>
          <option value="Deoxys">Deoxys</option>
          <option value="Detective Pikachu">Detective Pikachu</option>
          <option value="Diamond &amp; Pearl">Diamond &amp; Pearl</option>
          <option value="Double Crisis">Double Crisis</option>
          <option value="Dragon">Dragon</option>
          <option value="Dragon Frontiers">Dragon Frontiers</option>
          <option value="Dragon Majesty">Dragon Majesty</option>
          <option value="Dragon Vault">Dragon Vault</option>
          <option value="Dragons Exalted">Dragons Exalted</option>
          <option value="EX Trainer Kit 2 Minun">EX Trainer Kit 2 Minun</option>
          <option value="EX Trainer Kit 2 Plusle">EX Trainer Kit 2 Plusle</option>
          <option value="EX Trainer Kit Latias">EX Trainer Kit Latias</option>
          <option value="EX Trainer Kit Latios">EX Trainer Kit Latios</option>
          <option value="Emerald">Emerald</option>
          <option value="Emerging Powers">Emerging Powers</option>
          <option value="Evolutions">Evolutions</option>
          <option value="Evolving Skies">Evolving Skies</option>
          <option value="Expedition Base Set">Expedition Base Set</option>
          <option value="Fates Collide">Fates Collide</option>
          <option value="FireRed &amp; LeafGreen">FireRed &amp; LeafGreen</option>
          <option value="Flashfire">Flashfire</option>
          <option value="Forbidden Light">Forbidden Light</option>
          <option value="Fossil">Fossil</option>
          <option value="Furious Fists">Furious Fists</option>
          <option value="Fusion Strike">Fusion Strike</option>
          <option value="Generations">Generations</option>
          <option value="Great Encounters">Great Encounters</option>
          <option value="Guardians Rising">Guardians Rising</option>
          <option value="Gym Challenge">Gym Challenge</option>
          <option value="Gym Heroes">Gym Heroes</option>
          <option value="HGSS Black Star Promos">HGSS Black Star Promos</option>
          <option value="HS—Triumphant">HS—Triumphant</option>
          <option value="HS—Undaunted">HS—Undaunted</option>
          <option value="HS—Unleashed">HS—Unleashed</option>
          <option value="HeartGold &amp; SoulSilver">HeartGold &amp; SoulSilver</option>
          <option value="Hidden Fates">Hidden Fates</option>
          <option value="Hidden Legends">Hidden Legends</option>
          <option value="Holon Phantoms">Holon Phantoms</option>
          <option value="Jungle">Jungle</option>
          <option value="Kalos Starter Set">Kalos Starter Set</option>
          <option value="Legend Maker">Legend Maker</option>
          <option value="Legendary Collection">Legendary Collection</option>
          <option value="Legendary Treasures">Legendary Treasures</option>
          <option value="Legends Awakened">Legends Awakened</option>
          <option value="Lost Origin">Lost Origin</option>
          <option value="Lost Origin Trainer Gallery">Lost Origin Trainer Gallery</option>
          <option value="Lost Thunder">Lost Thunder</option>
          <option value="Majestic Dawn">Majestic Dawn</option>
          <option value="McDonald's Collection 2011">McDonald's Collection 2011</option>
          <option value="McDonald's Collection 2012">McDonald's Collection 2012</option>
          <option value="McDonald's Collection 2014">McDonald's Collection 2014</option>
          <option value="McDonald's Collection 2015">McDonald's Collection 2015</option>
          <option value="McDonald's Collection 2016">McDonald's Collection 2016</option>
          <option value="McDonald's Collection 2017">McDonald's Collection 2017</option>
          <option value="McDonald's Collection 2018">McDonald's Collection 2018</option>
          <option value="McDonald's Collection 2019">McDonald's Collection 2019</option>
          <option value="McDonald's Collection 2021">McDonald's Collection 2021</option>
          <option value="McDonald's Collection 2022">McDonald's Collection 2022</option>
          <option value="Mysterious Treasures">Mysterious Treasures</option>
          <option value="Neo Destiny">Neo Destiny</option>
          <option value="Neo Discovery">Neo Discovery</option>
          <option value="Neo Genesis">Neo Genesis</option>
          <option value="Neo Revelation">Neo Revelation</option>
          <option value="Next Destinies">Next Destinies</option>
          <option value="Nintendo Black Star Promos">Nintendo Black Star Promos</option>
          <option value="Noble Victories">Noble Victories</option>
          <option value="POP Series 1">POP Series 1</option>
          <option value="POP Series 2">POP Series 2</option>
          <option value="POP Series 3">POP Series 3</option>
          <option value="POP Series 4">POP Series 4</option>
          <option value="POP Series 5">POP Series 5</option>
          <option value="POP Series 6">POP Series 6</option>
          <option value="POP Series 7">POP Series 7</option>
          <option value="POP Series 8">POP Series 8</option>
          <option value="POP Series 9">POP Series 9</option>
          <option value="Paldea Evolved">Paldea Evolved</option>
          <option value="Phantom Forces">Phantom Forces</option>
          <option value="Plasma Blast">Plasma Blast</option>
          <option value="Plasma Freeze">Plasma Freeze</option>
          <option value="Plasma Storm">Plasma Storm</option>
          <option value="Platinum">Platinum</option>
          <option value="Pokémon Futsal Collection">Pokémon Futsal Collection</option>
          <option value="Pokémon GO">Pokémon GO</option>
          <option value="Pokémon Rumble">Pokémon Rumble</option>
          <option value="Power Keepers">Power Keepers</option>
          <option value="Primal Clash">Primal Clash</option>
          <option value="Rebel Clash">Rebel Clash</option>
          <option value="Rising Rivals">Rising Rivals</option>
          <option value="Roaring Skies">Roaring Skies</option>
          <option value="Ruby &amp; Sapphire">Ruby &amp; Sapphire</option>
          <option value="SM Black Star Promos">SM Black Star Promos</option>
          <option value="SWSH Black Star Promos">SWSH Black Star Promos</option>
          <option value="Sandstorm">Sandstorm</option>
          <option value="Scarlet &amp; Violet">Scarlet &amp; Violet</option>
          <option value="Scarlet &amp; Violet Black Star Promos">Scarlet &amp; Violet Black Star Promos</option>
          <option value="Secret Wonders">Secret Wonders</option>
          <option value="Shining Fates">Shining Fates</option>
          <option value="Shining Legends">Shining Legends</option>
          <option value="Shiny Vault">Shiny Vault</option>
          <option value="Shiny Vault">Shiny Vault</option>
          <option value="Silver Tempest">Silver Tempest</option>
          <option value="Silver Tempest Trainer Gallery">Silver Tempest Trainer Gallery</option>
          <option value="Skyridge">Skyridge</option>
          <option value="Southern Islands">Southern Islands</option>
          <option value="Steam Siege">Steam Siege</option>
          <option value="Stormfront">Stormfront</option>
          <option value="Sun &amp; Moon">Sun &amp; Moon</option>
          <option value="Supreme Victors">Supreme Victors</option>
          <option value="Sword &amp; Shield">Sword &amp; Shield</option>
          <option value="Team Magma vs Team Aqua">Team Magma vs Team Aqua</option>
          <option value="Team Rocket">Team Rocket</option>
          <option value="Team Rocket Returns">Team Rocket Returns</option>
          <option value="Team Up">Team Up</option>
          <option value="Ultra Prism">Ultra Prism</option>
          <option value="Unbroken Bonds">Unbroken Bonds</option>
          <option value="Unified Minds">Unified Minds</option>
          <option value="Unseen Forces">Unseen Forces</option>
          <option value="Vivid Voltage">Vivid Voltage</option>
          <option value="Wizards Black Star Promos">Wizards Black Star Promos</option>
          <option value="XY">XY</option>
          <option value="XY Black Star Promos">XY Black Star Promos</option>
        </select>
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_artist">Artist:</label>
        <input type="text"
               name="artist"
               placeholder="Artist"
               class="rounded-lg"
               maxlength="150"
               id="id_artist" />
      </div>
      <div class="w-full flex justify-between items-center gap-2">
        <label for="id_rarity">Rarity:</label>
        <select name="rarity"
                id="id_rarity"
                multiple="multiple"
                size="8"
                class="rounded-tl-lg rounded-bl-lg">
          <option value="Amazing Rare">Amazing Rare</option>
          <option value="Classic Collection">Classic Collection</option>
          <option value="Common">Common</option>
          <option value="Double Rare">Double Rare</option>
          <option value="Hyper Rare">Hyper Rare</option>
          <option value="Illustration Rare">Illustration Rare</option>
          <option value="LEGEND">LEGEND</option>
          <option value="Promo">Promo</option>
          <option value="Radiant Rare">Radiant Rare</option>
          <option value="Rare">Rare</option>
          <option value="Rare ACE">Rare ACE</option>
          <option value="Rare BREAK">Rare BREAK</option>
          <option value="Rare Holo">Rare Holo</option>
          <option value="Rare Holo EX">Rare Holo EX</option>
          <option value="Rare Holo GX">Rare Holo GX</option>
          <option value="Rare Holo LV.X">Rare Holo LV.X</option>
          <option value="Rare Holo Star">Rare Holo Star</option>
          <option value="Rare Holo V">Rare Holo V</option>
          <option value="Rare Holo VMAX">Rare Holo VMAX</option>
          <option value="Rare Holo VSTAR">Rare Holo VSTAR</option>
          <option value="Rare Prime">Rare Prime</option>
          <option value="Rare Prism Star">Rare Prism Star</option>
          <option value="Rare Rainbow">Rare Rainbow</option>
          <option value="Rare Secret">Rare Secret</option>
          <option value="Rare Shining">Rare Shining</option>
          <option value="Rare Shiny">Rare Shiny</option>
          <option value="Rare Shiny GX">Rare Shiny GX</option>
          <option value="Rare Ultra">Rare Ultra</option>
          <option value="Special Illustration Rare">Special Illustration Rare</option>
          <option value="Trainer Gallery Rare Holo">Trainer Gallery Rare Holo</option>
          <option value="Ultra Rare">Ultra Rare</option>
          <option value="Uncommon">Uncommon</option>
        </select>
      </div>
      <div>
        <button type="submit"
                value="Adv-search"
                class=" text-white p-2 m-1 rounded-full bg-secondary">Search</button>
      </div>
    </form>
    <div>
      <ul>
        {% for card in cards %}<li>{{ card.name }}</li>{% endfor %}
      </ul>
    </div>
  </section>
{% endblock content %}
