{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta name="description"
          content="Manage your pokemon card collection with our web app!" />
    <meta name="keywords" content="pokemon,cards,tcg,collection" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock title %}
    | Pokecards</title>
    {% tailwind_css %}
  </head>
  <body class="md:bg-gradient-to-r from-primary to-white bg-primary font-sans min-h-screen flex flex-col justify-between">
    <nav class="top-0 shadow-lg text-secondary text-lg font-semibold md:flex justify-between p-0.5 m-1 md:visible hidden">
      <div>
        <a href="{% url 'main:index' %}">Pokécards</a>
      </div>
      <div class="flex gap-3">
        {% if user.is_authenticated %}
          <div>
            <p>My Collections</p>
            <ul class="hidden">
              <li>
                <a href="#">Collection 1</a>
              </li>
            </ul>
          </div>
          <a href="{% url 'users:account' %}">Account</a>
          <a href="{% url 'users:sign-out' %}">Logout</a>
        {% else %}
          <a href="{% url 'users:sign-in' %}">Login</a>
          <a href="{% url 'users:sign-up' %}">Register</a>
        {% endif %}
      </div>
    </nav>
    <nav class="top-0 shadow-lg text-secondary text-lg font-semibold flex justify-between p-0.5 m-1 md:hidden visible">
      <div>
        <a href="#">mobile nav</a>
      </div>
    </nav>
    <div class="grow w-full">
      {% block content %}
      {% endblock content %}
      {% block script %}
        <script src="{% static 'main.js' %}"></script>
      {% endblock script %}
    </div>
    <footer class="bottom-0 shadow-inner md:visible invisible">
      <section class="flex justify-evenly p-0.5 m-1">
        <h2>
          Created by <span>Aaron Thompson</span>
        </h2>
        <p>
          Code found on <a class="text-secondary"
    href="https://github.com/Endeyr/pokecards"
    target="_blank"
    rel="noopener noreferrer">Github</a>
        </p>
      </section>
    </footer>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
