{% extends "main/base.html" %}
{% block title %}
  Card
{% endblock title %}
{% block content %}
  <section class="flex md:flex-row flex-col mt-4 p-2">
    <div class="flex md:hidden justify-center items-center ">
      <img height="max-h-fit"
           width="auto"
           class="m-1 p-0.25"
           src="{{ card.small_image }}"
           alt="{{ card.name }}" />
    </div>
    <div class="hidden md:inline md:basis-1/4 md:justify-center md:items-center">
      <img height="auto"
           width="auto"
           class="m-1 p-0.25"
           src="{{ card.large_image }}"
           alt="{{ card.name }}" />
    </div>
    <div class="md:basis-3/4 flex flex-col md:grid m-1 p-0.5">
      <div class="md:flex md:gap-2 md:justify-between m-1 p-0.5">
        <p class="m-1">
          <span class="font-bold">Name:</span> {{ card.name }}
        </p>
        <p class="m-1">
          <span class="font-bold">Subtype:</span>
          {% for type in subtypes %}{{ type }}{% endfor %}
        </p>
        <p class="m-1">
          <span class="font-bold">HP:</span> {{ hp }}
        </p>
        <p class="m-1">
          <span class="font-bold">Type:</span>
          {% for type in types %}{{ type }}{% endfor %}
        </p>
        <p class="m-1">
          <span class="font-bold">Price:</span> ${{ price }}
        </p>
      </div>
      <hr>
      <div class="md:flex md:gap-4 md:justify-start m-1 p-0.5">
        <div class="m-1">
          {% for ability in abilities %}
            <h3>
              <span class="font-bold">Ability:</span> {{ ability.name }}
            </h3>
            <p>{{ ability.text }}</p>
          {% endfor %}
        </div>
        <div class="flex flex-col m-1">
          {% for attack in attacks %}
            <h3>
              <span class="font-bold">Attack:</span> {{ attack.name }}
            </h3>
            <p class="flex flex-row w-auto">
              {% for cost in attack.cost %}<div>{{ cost }}</div>{% endfor %}
            </p>
            {% if attack.damage %}
              <p>
                <span class="font-bold">Damage:</span> {{ attack.damage }}
              </p>
            {% endif %}
            <p>{{ attack.text }}</p>
          {% endfor %}
        </div>
      </div>
      <hr>
      <div class="md:grid md:columns-4 md:gap-4 m-1 p-0.5">
        {% if card.rules != None %}
          <p class="m-1">
            <span class="font-bold">Rules:</span> {{ card.rules }}
          </p>
        {% endif %}
        <p class="m-1">
          <span class="font-bold">Weaknesses:</span>
          {% for weakness in weaknesses %}{{ weakness.type }}{% endfor %}
        </p>
        <p class="m-1">
          <span class="font-bold">Resistances:</span>
          {% for resistance in resistances %}{{ resistance.type }}{% endfor %}
        </p>
        <p class="m-1">
          <span class="font-bold">Retreat Cost:</span>
          {% for cost in retreat_cost %}<div>{{ cost }}</div>{% endfor %}
        </p>
        <p class="m-1">
          <span class="font-bold">Artist:</span> {{ card.artist }}
        </p>
        <p class="m-1">
          <span class="font-bold">Rarity:</span> {{ card.rarity }}
        </p>
        <p class="m-1">
          <span class="font-bold">Set:</span> {{ card.card_set }}
        </p>
        <p class="m-1">
          <span class="font-bold">Number:</span> {{ card.number }}
        </p>
        <div class="col-start-2 m-1">
          {% if card.in_collection %}
            <button class="text-white p-2 m-1 rounded-full bg-danger">Remove from Collection</button>
          {% else %}
            <button class="text-white p-2 m-1 rounded-full bg-secondary">Add to Collection</button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
